
@font-face {
  font-family: 'TT Backwards';
  src: url('font/tt_backwards_sans_trial_regular.woff2') format('woff2'),
       url('font/tt_backwards_sans_trial_regular.woff') format('woff'),
       url('font/tt_backwards_sans_trial_black.woff2') format('woff2'),
       url('font/tt_backwards_sans_trial_black.woff') format('woff'),
       url('font/tt_backwards_sans_trial_bold.woff2') format('woff2'),
       url('font/tt_backwards_sans_trial_bold.woff') format('woff'),
       url('font/tt_backwards_sans_trial_regular-thin.woff') format('woff');
}

body{
    font-family: 'TT Backwards', sans-serif !important;
}

.fundo-cinza{
    background-color: #ebebeb;
}

.fundo-vermelho{
    background-color: #a01e1a;
}

.fundo-cinzaescuro{
    background-color: #1e1f1c;
}

.texto{
    font-size: 1.5em;   
    line-height: 2;
}

.texto-branco{
    color: #ffffff;
    font-size: 1.5em;   
    line-height: 2;
}

.titulo-branco{
    font-size: 3.4em;
    line-height: 1.4;
    color: #ffffff;
    font-family: 'TT Backwards', sans-serif !important;
    font-weight: bolder;
    text-transform: uppercase;
}

.carousel-inner{
    border-radius: 7px;
}

@media (max-width: 1399.98px) { 
    .texto{
        font-size: 1.4em;   
    }

    .titulo-branco{
        font-size: 3em;     
    }
}

@media (max-width: 1199.98px) {
    .texto{
        font-size: 1.1em;   
    }

    .titulo-branco{
        font-size: 2.7em;       
    }
}

/* sessao 1 */
.fundo-principal{
    background-image: url('images/banner_principal.png');
    background-repeat: no-repeat;
    background-size: cover;   
}

.titulo-principal{
    font-size: 5.8em;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'TT Backwards', sans-serif !important;
    font-weight: bolder;
    text-transform: uppercase;
}

.btn-orcamento{
    color: #ffffff !important;
    background-color: #a01e1a !important;
    border: #a01e1a !important;
    padding: 15px 80px !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
}

.btn-orcamento:hover{
    color: #ffffff !important;
    background-color: transparent !important;
    border: #ffffff 1px solid !important;
}

.padding-percent{
    padding-top: 72%;
}

@media (max-width: 1399.98px) {
    .titulo-principal {
        font-size: 4em;        
    }

    .padding-percent {
        padding-top: 50% !important;
        padding-left: 24px !important;
    }

    .btn-orcamento {
        padding: 10px 60px !important;
        font-size: 18px !important;
    }
}

@media (max-width: 1199.98px) { 
    .titulo-principal {
        font-size: 3.8em;        
    }

    .padding-percent {
        padding-top: 55%;
    }
}

@media (max-width: 991.98px) { 
    .titulo-principal {
        font-size: 3.5em;        
    }

    .padding-percent {
        padding-top: 26% !important;
        padding-bottom: 20% !important;
    }
}

@media (max-width: 767.98px) { 
    .titulo-principal {
        font-size: 2.8em;        
    }

    .padding-percent {
        padding-top: 26% !important;
        padding-bottom: 20% !important;
    }
}

@media (max-width: 575.98px) {
    .titulo-principal {
        font-size: 2em;        
    }

    .padding-percent {
        padding-top: 26% !important;
        padding-bottom: 20% !important;
    }
}

/* sessão 2 */

/* sessão 3 */
.accordion-button{
    background-color: #a01e1a !important;
    color:#ffffff !important;
    text-transform: uppercase;
    font-size: 1.7em !important;
}

.accordion-body{
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    background-color: #a01e1a !important;
    color:#ffffff !important;
    font-size: 1.3em;
    line-height: 2;
    text-transform: uppercase;
    font-weight: 400;
}

.accordion-servicos .accordion-button::after{
    content: "";
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23ffffff' d='M1.5 6l6 6 6-6H1.5z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-size: 1.30rem;
    transition: transform .2s ease-in-out;
    transform: rotate(0deg) !important;
    filter: none !important;
}

.accordion-servicos .accordion-button:not(.collapsed)::after{
    transform: rotate(-180deg) !important;
}

.accordion-servicos .accordion-button:focus {
    box-shadow: none !important;
}

.accordion-servicos .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-servicos .accordion-body {
    height: auto; /* ajuste a altura desejada */
    display: flex;
    align-items: stretch; 
}

.accordion-servicos .accordion-body .row,
.accordion-servicos .accordion-body .col-7,
.accordion-servicos .accordion-body .col-5 {
    height: 100%;
}

.carousel-servicos {
    height: 100%;
}

.carousel-servicos .carousel-inner,
.carousel-servicos .carousel-item,
.carousel-servicos img {
    height: 100%;
    object-fit: cover;  
}

@media (max-width: 1399.98px) {
    .accordion-button{
        font-size: 1.5em !important;
    }

    .accordion-body{
        font-size: 1.2em;
    }
}

@media (max-width: 1199.98px) { 
    .accordion-button{
        font-size: 1.3em !important;
    }

    .accordion-body{
        font-size: 1.1em;
    }
}

/* sessão 4 */
.titulo-excelencia{
    font-size: 5em;
    line-height: 1.4;
    color: #000000;
    font-family: 'TT Backwards', sans-serif !important;
    font-weight: bolder;
    text-transform: uppercase !important;
}

.titulo-excelencia span{
    position: relative;
    text-transform: capitalize;
}

.titulo-excelencia span::before{
    content: "";    
    animation: variacoesExcelencia 20s infinite;
    text-transform: capitalize;
}

@keyframes variacoesExcelencia{
    0%, 20%{
        content: "EXCELÊNCIA.";
    }
    21%, 40%{
        content: "COMPROMISSO.";
    }
    41%, 60%{
        content: "QUALIDADE.";
    }
    61%, 80%{
        content: "EFICIÊNCIA.";
    }
    81%, 100%{
        content: "INOVAÇÃO.";
    }
}

.titulo-excelencia span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: #000000 2px solid;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 10px);
    background-color: #ebebeb;
    text-transform: capitalize;
}

@keyframes cursor{
    0%{
       border-left: #ebebeb 2px solid;
    }    
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 10px);
    }
}

@media (max-width: 1399.98px) {
    .titulo-excelencia{
        font-size: 3em;
    }
}

@media (max-width: 1199.98px) { 
    .titulo-excelencia {
        font-size: 2.7em;
    }
}



/* sessão 5 */
.fundo-contact{
    background-color: #737373;
    border-radius: 7px;
}

.label-text{
    color: #ffffff;
    font-size: 1.2em;
}

.btn-enviar{
    color: #ffffff !important;
    background-color: #1e1f1c !important;
    padding: 10px 40px !important;
    font-size: 1.07rem !important;
    text-transform: uppercase !important;
}

.btn-enviar:hover{
    color: #ffffff !important;
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
    border-radius: 7px !important;
}

a{
    text-decoration: none !important;
    color: #ffffff !important;
}

@media (max-width: 1399.98px) {
    
}


/* footer */
.texto-footer{
    font-size: 1.07rem;
    color: #737373;
    font-weight: bold;
}